__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
# Ignore CSV and JSON files in specific directories
data/wyscout/csv/*.csv
data/wyscout/json/*.json
models/finetuning/team_representations/